:global body {
  font-size: 12px;
}

:global ul {
  margin: 0;
  padding: 0;
}

:global li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  height: 20vh;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

:global input,
:global button {
  outline: none;
}

:global input:focus,
:global button:focus {
  outline: none;
}